  <!--Script files-->
  <script src = "Scripts/app.js"></script>
  <script src = "bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>
  <a href="https://www.linkedin.com/in/AhmaadRiaz/"> Linkedin</a>
  <a href="https://github.com/Ahm3ad"> Github</a>
</body>
</html>